<h1>New Distribution Center</h1>

<%= form_for(@distribution_center, :url => admin_distribution_centers_path) do |f| -%>
<%= render :partial => 'form', :locals => {:f => f} %>


<div class="actions">
  <%= f.submit :disable_with => "Loading..." %>
  <%= link_to 'Cancel', admin_distribution_centers_path %>
</div>

<% end -%>
