a h3 {
  font-family: 'Montserrat', sans-serif; }

ul, li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0; }

ul.states li.state {
  text-align: center;
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  margin-right: 2em;
  background: #f6d7bf;
  border: 1px solid #723b11; }
  ul.states li.state span.state {
    background: #723b11;
    color: white;
    width: 100%;
    display: inline-block; }
  ul.states li.state ul.towns span.town {
    background: #9f5217;
    color: white;
    width: 100%;
    display: inline-block; }
  ul.states li.state ul.towns li.town {
    display: block;
    width: 100%; }
    ul.states li.state ul.towns li.town ul.contacts li.contact {
      padding: .1em 1em; }
