.order_quick_links {
  float: right; }
  .order_quick_links a {
    display: block;
    line-height: 1.2em; }

div.notes {
  border-bottom: 1px solid #552729;
  margin-left: 1.5%;
  margin-bottom: .25em; }
  div.notes div.resolved {
    color: grey !important;
    background: #fcf3ec !important; }
    div.notes div.resolved .date, div.notes div.resolved .title {
      color: grey !important; }
  div.notes div.note {
    position: relative;
    display: inline-block;
    border-top: 1px solid #552729;
    border-right: 1px solid #552729;
    border-left: 1px solid #552729;
    background: #f6d7bf;
    margin: 0;
    width: 95%;
    padding: .5em; }
    div.notes div.note span.title, div.notes div.note span.date {
      color: #723b11;
      font-size: small; }
    div.notes div.note span.date {
      float: right; }
    div.notes div.note p {
      width: 80%;
      display: inline-block;
      font-size: .8em;
      line-height: 1.2em; }
    div.notes div.note a.resolve {
      text-decoration: none;
      color: white;
      background: #552729;
      font-size: small;
      padding: 2px;
      border: 2px #552729 outset;
      vertical-align: top; }
    div.notes div.note span.resolved {
      position: absolute;
      font-size: small;
      color: #0f0707;
      top: 5px;
      left: 50%; }
