.newsflash {
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 2em 1em 1em; }
  .newsflash img {
    float: left;
    margin-right: .5em; }

.home_image_right {
  padding-left: 2em;
  padding-right: 0;
  width: 30%; }

.home_image_left {
  padding-right: 2em;
  padding-left: 0;
  width: 30%; }

.info {
  clear: both;
  color: white;
  background-color: #552729;
  background: -webkit-linear-gradient(#552729, #cb691e);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#552729, #cb691e);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#552729, #cb691e);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#552729, #cb691e);
  /* Standard syntax */ }
  .info a, .info a:visited {
    color: #e4c805; }
  .info h2, .info h3, .info h4 {
    color: #e4c805; }
  .info .list {
    display: inline-block;
    vertical-align: top;
    width: 25%; }
    .info .list h3 {
      font-variant: small-caps; }
    .info .list span {
      white-space: nowrap; }
    .info .list span.day {
      width: 5em;
      display: inline-block; }
  .info div.google {
    width: 45%;
    float: right;
    padding-left: 5px; }
    .info div.google .map {
      height: 16em; }
    .info div.google .calendar {
      height: 10em; }
    .info div.google iframe {
      border: 1px solid #cb691e;
      display: block;
      clear: both;
      width: 100%;
      margin-bottom: .5em; }
  .info .order {
    background-color: #552729;
    font-size: 1.5em;
    font-weight: bold;
    font-variant: small-caps;
    padding: .5em 1.5em; }
  .info .content {
    line-height: 1.2em; }
