@media print {
  @page {
    size: portrait; } }

div.header, div.admin_header {
  display: none; }

div.print_header {
  text-align: center;
  width: 100%; }
  div.print_header .print_header {
    visibility: show;
    width: 250px; }

h1.title {
  visibility: hidden;
  display: none; }

a {
  color: black;
  text-decoration: none; }

.print_button {
  visibility: hidden;
  display: none; }

.sort {
  display: none; }

ul.cheese_list {
  display: block;
  list-style: none; }
  ul.cheese_list li {
    page-break-inside: avoid;
    display: block;
    clear: both; }
    ul.cheese_list li img {
      vertical-align: top;
      float: left;
      margin-right: 10px; }
    ul.cheese_list li .desc {
      display: inline-block;
      width: 60%; }

div#footer {
  display: none; }

table.crud {
  border: 1px solid black; }
  table.crud td, table.crud th {
    border-bottom: 1px solid black; }
