.print_header {
  visibility: hidden;
  display: none; }

.print_contact {
  visibility: hidden;
  display: none; }

.print_button {
  text-decoration: none;
  color: black;
  border: 2px outset grey;
  padding: 2px;
  background: #ccc;
  margin-top: 2em; }

.print_button:active {
  border: 2px inset grey; }

ul.cheese_list {
  width: 75%;
  display: inline-block; }
  ul.cheese_list li {
    list-style-type: none;
    width: 30%;
    margin-left: 1%;
    display: inline-block;
    vertical-align: top;
    line-height: 1.2em; }
    ul.cheese_list li img {
      width: 100%; }
    ul.cheese_list li h2, ul.cheese_list li h5 {
      color: #cb691e;
      line-height: 1em; }
    ul.cheese_list li h5 {
      font-family: 'Montserrat', sans-serif;
      line-height: 1em; }

div.sort {
  width: 20%;
  display: inline-block;
  float: left; }
  div.sort .link {
    position: relative; }
    div.sort .link a {
      font-size: 1.3em;
      display: block;
      font-variant: small-caps;
      color: white;
      background-color: #cb691e;
      background: -webkit-linear-gradient(left, #e4c805, #cb691e);
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right, #e4c805, #cb691e);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right, #e4c805, #cb691e);
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, #e4c805, #cb691e);
      /* Standard syntax */
      text-decoration: none;
      padding: 0.2166666667em 0.65em;
      margin-bottom: 0.4333333333em;
      margin-right: 0.4333333333em; }
    div.sort .link a:hover {
      text-decoration: underline; }
    div.sort .link a.active {
      background: -webkit-linear-gradient(left, #552729, #cb691e);
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right, #552729, #cb691e);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right, #552729, #cb691e);
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, #552729, #cb691e);
      /* Standard syntax */ }
    div.sort .link .arrow {
      position: absolute;
      right: 1em;
      top: .2em;
      color: white;
      font-size: 1.3em; }
