<legend>
  Retail Price Calculator
</legend>

<div id="calculator">
  <span id="price_per_ounce" style="display:none;"><%= contact.price_per_ounce %></span>
  <p>
    <label for="ounces">Ounces</label>
    <input id="ounces" type="number" , size="4" , step="any" onfocus="this.select();" onmouseup="return false;" onkeyup="calculate()"/>
  </p>
  <p>
    <span>Retail Price: </span>
    <strong><span id="retail_price">0.00</span></strong>
  </p>
</div>

<script>
    function calculate() {
        let price_per_ounce = document.getElementById("price_per_ounce").innerHTML;
        let ounces = document.getElementById("ounces");
        let retail_price_span = document.getElementById("retail_price");

        let retail_price = Math.round((price_per_ounce * ounces.value) * 100) / 100;
        let retail_string = retail_price + '';
        length = (retail_string).replace('.', '').length;

        if (retail_string.indexOf(".") === -1) {
            retail_string += ".00";
        } else if (length === 2 && retail_string.indexOf(".") !== -1) {
            retail_string += "0";
        }

        retail_price_span.innerHTML = retail_string;
    }
</script>
