<h1>Order Cheese</h1>

<!--<a href="http://www.directeats.com/makers/kent_walker_artisan_cheese/" target="_blank" class="order">Order Cheese to be Shipped</a> | -->
<!--<a href="http://mkt.com/kwac#masthead" target="_blank" class="order">Order Cheese to be Picked Up</a>-->

<ul class="order_online">
  <li>
    <a href="http://www.directeats.com/makers/kent_walker_artisan_cheese/#archive-page-container" target="_blank" class="order">
      <strong>Shipping</strong>
      <%= image_tag "hab_ched.jpg", align: "left", class: "home_image_left" %>
      <span style="text-decoration:underline">DirectEats.com</span> ships all varieties of our cheese through the mail.
      Shipping is free and all orders arrive wrapped in reusable cheesepaper that extends shelf life.
    </a>
  </li>

  <li>
    <a href="http://mkt.com/kwac#masthead" target="_blank" class="order">
      <strong>Pickup</strong>
      <%= image_tag "tray.jpg", align: "left" %>
      Order Party Trays and Gift Baskets <span style="text-decoration:underline">here</span>, available for pickup at
      our store only.
    </a>
  </li>
</ul>
