
<div class="slideshow" id="slideshow">
  <%= image_tag "TR.jpg", :align => "center", :class => "header_photo" %>
  <p>
    <span>Tours</span>
    <span>Cheese Flights</span>
    <span>Local Wine & Beer</span>
    <span>Live Music & Events</span>
  </p>
</div>

<div class="wrapper">
  <h1 id="visit">Visit a Real Life Cheesery</h1>
  <div class="tr_left">
    <iframe
      class="large_map"
      frameborder="0" 
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAsMNnmpoMXSBAn_qCmHZGUd8DtY_-BQzo&q=Kent+Walker+Artisan+Cheese,Little+Rock+Arkansas">
    </iframe>
  </div>
  <div class ="tr_right">
     We love having people visit us!&nbsp; If you find yourself in Little Rock, please come on down to meet our knowledgeable staff & taste some great samples. 
     &nbsp;We produce cheese twice a week, feel free to call us to check the schedule if you'd like to see the make room in action. 
     &nbsp;The Cheese shop stocks our own cheese, other local products, and award winning import cheeses from around the world.
     &nbsp;The Tasting Room and Cheese Shop are open 5 days a week:
   
    <div class="list">
      <h3>Open Hours</h3>
      <ul>
        <li>
          <span class="day">Wed:</span>
          <span>11am - 10pm</span>
        </li>
        <li>
          <span class="day">Thur:</span>
          <span>11am - 10pm</span>
        </li>
        <li>
          <span class="day">Fri:</span>
          <span>11am - 10pm</span>
        </li>
        <li>
          <span class="day">Sat:</span>
          <span>11am - 10pm</span>
        </li>
        <li>
          <span class="day">Sun:</span>
          <span>11am - 8pm</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="wrapper">
  <h1 id="menu">Food & Drink</h1>
  <div class="tr_right">
    <%= link_to "Check out our Menu", image_path("food.png"), :target => "_blank" %>
    <p>
        In addition to the cheesery, we carry appetizers, sandwiches, and local beverages.&nbsp; You can choose from a variety of "Cheese Flights" that feature different
        styles.&nbsp; There is a selection of great beer, wine, & non-alcoholic drinks to pair with your cheese.&nbsp; Sometimes we even go a bit crazy and add in
        aged meats, mustards, and other sundries!
    </p>
  </div>
  <div class="tr_left">
    <%= link_to image_tag("food_sm.png", :class => "menu"), image_path("food.png"), :target => "_blank" %>
    <%= link_to image_tag("beer.jpg", :class => "menu"), image_path("menuback.png"), :target => "_blank" %>
  </div>
</div>


<h1 id="events">Events</h1>
<p>
  We have tours and live music every weekend.  Check out our current lineup below.
</p>
<p>
  <iframe src="https://calendar.google.com/calendar/embed?showTabs=0&amp;showCalendars=0&amp;height=800&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=kentwalkercheese.com_2l9spjg2ekcsfurntjrchpru30%40group.calendar.google.com&amp;color=%23B1365F&amp;ctz=America%2FChicago" style="border:solid 1px #777" width="100%" height="800" frameborder="0" scrolling="no"></iframe>
</p>
