<h1>Jobs at KWAC</h1>


<p>
Keep an eye on this page for cheesemaking jobs!
</p>

<!--
<fieldset>
<legend><h2>Market Salesperson</h2></legend>
<p>
We are currently looking someone for help at the farmers' markets this season as well as other duties
around the cheese shop.
</p>
<p>
If you are interested in this job, please send a resume to 
<a href="mailto:info@kentwalkercheese.com">info@KentWalkerCheese.com</a>.
</p>

<h3>Hours</h3>
<ul>
	<li>This is a seasonal job.  It would be from April - October. &nbsp;Perhaps later if desired.</li>
	<li>~20 hours/week, mostly on weekends.</li>
	<li>Must be available to work on Saturday and/or Sunday mornings (5:30am - 1:00pm) at the market.</li>
</ul>

<h3>Duties</h3>
<ul>
	<li>Sell Cheese at the market</li>
	<li>Help with production and packaging</li>
</ul>

<h3>Requirements</h3>
<ul>
	<li>Your own transportation
		<ul>
			<li>You must able to carry cheese and market equipment in your vehicle</li>
		</ul>
	</li>
	<li>Ability to lift and carry up to 35 LBs</li>
</ul>
</fieldset>

<br /><br /><br /><br /><br />

<fieldset>
<legend><h2>Front of House</h2></legend>
<p>
We are currently looking someone to run the tasting room.  As this person will be serving alcohol, you must be over 21.  KWAC is a non-traditional workplace: all permanent 
employees have a voice in how the company is run.  If that excites you, send an email!  If that isn't what you are looking for, maybe the Market Salesperson
position is a better fit.
</p>
<p>
If you are interested in this job, please send a resume to 
<a href="mailto:info@kentwalkercheese.com">info@KentWalkerCheese.com</a>.
</p>

<h3>Hours</h3>
<ul>
	<li>This is a permanent position at KWAC (Not a seasonal job)</li>
	<li>This job will start on or around March 1.</li>
	<li>~20-30 hours/week, mostly on Thurs-Sun.</li>
</ul>

<h3>Duties</h3>
<ul>
	<li>Run the tasting room alongside 1 other person</li>
	<li>Pour Beer & Wine</li>
	<li>Prepare & serve cheese plates</li>
	<li>Barback duties (Clean dishes, change kegs, etc.)</li>
	<li>Sell retail cheese out of the tasting room</li>
	<li>Help with production and packaging</li>
	<li>Weekly board meetings</li>
</ul>

<h3>Requirements</h3>
<ul>
  <li>Exerience in service industry a plus (experience as server or bartender a major plus)</li>
	<li>Passion for local food, cheesemaking, and all that good stuff</li>
	<li>Ready to learn!</li>
	<li>Ability to lift and carry up to 35 LBs</li>
</ul>

<h3>Compensation</h3>
<ul>
  <li>Componsation starts at $10/hr.</li>
  <li>There is lots of room for raises and growth at KWAC.  </li>
</ul>
</fieldset>
-->

