<h1>Custom Built Dutch Style Cheese Presses</h1>
<%= image_tag "http://artisancheese.files.wordpress.com/2012/01/2012-01-17_19-46-22_21.jpg?w=535",
              width: "350px",
              align: "right"
%>
<p>
  In addition to tasty cheese, we also provide <strong>custom built Dutch-style cheese presses</strong>.&nbsp;
  It all started when I realized that importing a new or used dutch press from Europe is quite expensive.&nbsp;
  Dutch presses are the epitome of the old world style of cheesemaking and now you can find a quality,
  American made press at an affordable price. &nbsp;
</p>
<p>
  If you are interested, please email us at <a href="mailto:info@kentwalkercheese.com">info@KentWalkerCheese.com</a>.
  nbsp;The model pictured here has two pistons, but presses are available in 1, 2, 3, and 4 piston models.&nbsp;
  All of our presses are made with the highest quality materials and are designed to last a lifetime.
</p>

