<p class="dialogue">
  <% post['dialogue'].each do |line| -%>
  <p>
    <span class="label"><%= line['label'] %></span>
    <span class="phrase"><%= line['phrase'] %></span>
  </p>
<% end -%>
</p>



