<div class="photo_wrapper">
  <div class="photos">
    <% post['photos'].each do |photo| -%>
      <%= image_tag photo["original_size"]["url"] %>
    <% end -%>
  </div>

  <div class="post_body">
    <%= post['caption'][0...@post_length].html_safe %>
    <%= "..." if post['caption'].length > @post_length %>
  </div>
</div>
