$header-font-size: 30px;

$bg-color: #ddd;
$tr-bg: #A46C04;

$black: black;
$brown: #552729;
$green: green;
$grey-lightest: #fff;
$grey-light: #ccc;
$grey: grey;
$grey-dark: #555753;
$orange: #cb691e;
$red: red;
$tan-light: #f0ded0;
$tan: #f0d9ae;
$yellow: #e4c805;
$white: white;
