$header-font-size: 30px;

$bg-color: #ddd;
$tr-bg: #A46C04;

$black: black;
$brown: #552729;
$grey-light: #ccc;
$grey: grey;
$grey-dark: #555753;
$orange: #cb691e;
$red: red;
$yellow: #e4c805;
$white: white;
