@import 'variables';

a h3 {
  
  font-family: 'Montserrat', sans-serif;
}


ul,li { 
  list-style-type: none;
  list-style-position:inside;
  margin: 0px;
  padding: 0px;
}
 


ul.states {

  
	li.state {
    text-align: center;
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    margin-right: 2em;
    background: lighten($orange, 40%);
    border: 1px solid darken($orange, 20%);;
    
    span.state {
      background: darken($orange, 20%);
      color: white;
      width: 100%;
      display: inline-block;
    }
    
    ul.towns {
    
      span.town {
        background: darken($orange, 10%);
        color: white;
        width: 100%;
        display: inline-block;
      
      }
    
      li.town {
        display: block;
        
        width: 100%;
        
        ul.contacts {
          
          
          li.contact {
            padding: .1em 1em;
            
          }
        
        }
      }
    
    }
    
  }

  
  
}
