@import 'variables';

.late {
  color: red;
}

div#line_items {
  border: 1px solid black;
  background: lighten($orange, 50%);
  
  .nested-fields {
    height: 2.5em;
    margin-bottom: .2em;
  }
}

.li_units {
  width: 3em;
}
