@import 'variables';

.late {
  color: red;
}

div#line_items {
  border: 1px solid black;
  background: lighten($orange, 50%);
  
  .nested-fields {
    height: 2.5em;
    margin-bottom: .2em;
  }
}

.li_units {
  width: 3em;
}

a.nav_arrow {
  text-decoration: none;
  color: #888a85;
  font-size: 100px;
  font-weight: bold;
  position: absolute;
  top: 7em;
}

a.nav_arrow:hover {
  color: #000000;
}

a.nav_arrow_left {
  left: 5%;
}

a.nav_arrow_right {
  right: 5%;
}
