@import 'variables';


@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin shadow($offset-x, $offset-y, $blur, $color) {
  box-shadow: $offset-x $offset-y $blur $color;
  -moz-box-shadow: $offset-x $offset-y $blur $color;
  -webkit-box-shadow: $offset-x $offset-y $blur $color;
}

@mixin fade($time) {
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
    -o-transition: all $time ease;
    -ms-transition: all $time ease;
    transition: all $time ease;
}


.print_header {
  display: none;
}

html {
  margin: 0;
  height: 100%;
  padding: 0;
  
}

body {
  background-image: url("content_background.jpg");
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $bg-color;
  color: $brown;
  font-size: 1.3em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.wrapper {
  min-height:100%;
  position:relative;
}

.header {
  background-image: url("header.jpg");
  background-position: top center;
  background-attachment: scroll;
  background-size: 100% 12em;
  background-repeat: no-repeat;
  background-color: $tan-light;
  height: 12em;
  position:relative;
  
  .content {
    padding: 0;
    line-height: 12em;
    
    .logo {
      max-width: 30%;
      max-height: 60%;
      vertical-align: middle;
      margin-top: -1em;
    }
    
    .nav_links {
      position: relative;
      float: right;
      text-align: right;
      height: 12em;
      line-height: 1.5em;
      width: 69%;
      z-index: 2;
      
      .links {
        margin-top: 1.5em;
        
        a, a:visited, span {
          text-decoration: none;
          font-variant: small-caps;
          color: $brown;
          font-size: $header-font-size;
          margin-left: .1em;
          margin-bottom: 1em;
          padding-right: .5em;
          display: inline-block;
        }
        
        a.last_link {
          border: none;
        }
        
        a:hover {
          text-decoration: underline;
        }
        
        a.active {
          text-decoration: underline;
          color: $orange;
        }
      }

      .social {
        margin-top: .5em;
        display: inline-block;
        img {
          height: $header-font-size*1.5;
        }
      }

      ul.menu {
        width: 100%;
        position: relative;
        z-index: 100;
        
        > li {
          display: inline-block;
          vertical-align: top;
          text-align: center;
          width: 19%;
          padding-top: .25em;
          
          > a {
          }
          
          > ul {
            opacity: 0;
            visibility: hidden;
            overflow: hidden;
            
            position: absolute;
            left: 0;
            right: 0;
              
            border-top: 5px solid $orange;
            
            text-align: left; 
            
            background: lighten($bg-color, 5%);
            @include shadow(0px, 6px, 6px, black);
            @include fade(.3s);
            
            > li {
              width: 40%;
              display: inline-block;
              vertical-align: top;
              margin-left: 1em;
              margin-top: 1em;
              
              > span {
                color: $orange;
                line-height: 1em;
                font-family: inherit;
              }
              
              > ul {
                border-top: 1px solid black;
                padding-top: 1em;
              }
            }
          }
        }

        > li:hover {
          background-color: $orange;
          @include fade(.3s);
          @include shadow(0px, 0px, 6px, black);
          
          > a {
            color: white;
            @include fade(.3s)
          }
          
          > ul {
            opacity: 1;
            visibility: visible;
            overflow: visible;
            @include fade(.3s)
          }
        }
      }
    }
  }
  
  .stripe {
    position:absolute;
    bottom:0;
    background-color: $orange;
    background: -webkit-linear-gradient(left, $yellow, $orange); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, $yellow, $orange); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, $yellow, $orange); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, $yellow, $orange); /* Standard syntax */
    width: 100%;
    height: 1em;
    z-index: 1;
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'Carter One', serif;
  font-weight: normal;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}

a, a:visited {
  color: $orange;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: $brown;
}

.content {
  width: 80%;
  margin-left: 10%;
  height: 100%;
  padding-bottom: 6em;
  line-height: 2em;
  
  h1 {
    color: $orange
  }
}

.flash {
  border: 2px solid $green;
  background: #dfd;
  padding: 5px;
  margin-bottom: 15px;
}
  
div#error_explanation {
  border: 2px solid $red;
  background: #fdd;
  padding: 5px;
  margin-bottom: 15px;
}

.slideshow {
  border: .25em solid $white;
  @include shadow(2px, 2px, 6px, black);
  position: relative;

  img {
    width: 100%; 
    height: 30em;
  }

  p {
    position: absolute;
    bottom: 0.25em;
    left: 1em;
    line-height: 1.4em;
    font-size: 3.5em;
    font-weight: bold;
    text-shadow: 3px 3px $brown;
    color: $white;
    font-family: 'Neucha', cursive;
    white-space: nowrap;

    span {
      color: lighten($white, 0%);
      text-decoration: none;
      display: block;
    }
  }
}

.footer {
  background-color: $yellow;
  height: 6em;
  position: absolute;
  bottom:0;
  left:0;
  width: 100%;
  text-align: center;
  overflow: hidden;

  a, span {
    color: $brown;
    font-weight: bold;
    margin-left: .5em;
    white-space: pre;
  }
  
  a {
    text-decoration: underline;
  }
  
  a:hover {
    color: $orange;
    text-decoration: none;
  }
  
  .content {
    padding-bottom: 0;
  }
}



