@import 'variables';

ul.order_online {
  display: block;
  li {
    a {
      color: $brown !important;
      background: white;
      height: 15em;
      display: inline-block;
      width: 40%;
      float: left;
      margin-right: 7%;
      padding-left: 1em;
      padding-right: 1em;
      padding-bottom: 1em;

      img {
        width: 9em;
        margin-right: 1em;
      }

      strong {
        font-family: 'Carter One', serif;
        font-weight: normal;
        display: block;
        font-size: 2em;
        line-height: 2em;
      }
    }
  }
}
