@import 'variables';

$sort-font-size: 1.3em;

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

.print_header {
  visibility: hidden;
  display: none;
}

.print_contact {
  visibility: hidden;
  display: none;
}

.print_button {
  text-decoration: none;
  color: $black;
  border: 2px outset $grey;
  padding: 2px;
  background: $grey-light;
  margin-top: 2em;
}

.print_button:active {
  border: 2px inset $grey;
}

ul.cheese_list {
  width: 75%;
  display: inline-block;

  li {
    list-style-type: none;
    width: 30%;
    margin-left: 1%;
    display: inline-block;
    vertical-align: top;
    line-height: 1.2em;
    
    img {
      width: 100%;
    }
    
    h2, h5 {
      color: $orange;
      line-height: 1em;
    }
    
    h5 {
      font-family: 'Montserrat', sans-serif;
      line-height: 1em;
    }
  }
}

div.sort {
  width: 20%;
  display: inline-block;
  float: left;

  .link {
    position: relative;

    a {
      font-size: $sort_font_size;
      display: block;
      font-variant: small-caps;
      color: $white;
      background-color: $orange;
      background: -webkit-linear-gradient(left, $yellow, $orange); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right, $yellow, $orange); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right, $yellow, $orange); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, $yellow, $orange); /* Standard syntax */
      text-decoration: none;
      padding: $sort-font-size/6 $sort-font-size/2;
      margin-bottom: $sort-font-size/3;
      margin-right: $sort-font-size/3;
    }
    
    a:hover { 
      text-decoration: underline;
    }
    
    a.active {
      background: -webkit-linear-gradient(left, $brown, $orange); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right, $brown, $orange); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right, $brown, $orange); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, $brown, $orange); /* Standard syntax */
    }
    
    .arrow {
      position: absolute;
      right: 1em;
      top: .2em;
      color: white;
      font-size: $sort_font_size;
    }
  }
}
